#login-pane {
	-fx-background-image: url('/loginbg.jpg');
}

#text-client-name {
	-fx-font-weight: bold;
	-fx-font-size: 64px;
	-fx-text-fill: royalblue;
	-fx-effect: dropshadow(gaussian, royalblue, 3, 0, 3, 3);
}

.login-label {
	-fx-font-size: 18px;
}

.login-text {
	-fx-font-size: 14px;
}

#btn-login {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #E1F5FE;
    -fx-font-weight      : 900;
    }
#btn-login:hover {
  -fx-background-color : #01579B;
}
#login-form {
  -fx-background-color : #FFFFFF;
  -fx-background-radius: 15;
  -fx-border-radius: 15;
  -fx-opacity: 0.7;
  -fx-effect: dropshadow(gaussian, white, 8, 0.3, 4.0, 4.0);
}
